/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base pour le corps et la navigation */
body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #A306B6; /* Violet */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    color: white;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: lightgray;
}
