/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
}

/* Style pour la barre de navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Style pour le logo */
nav div {
    font-size: 24px;
    background-color: #A306B6;
}

/* Style pour la liste */
nav ul {
    display: flex;
    list-style-type: none;
}

/* Style pour les éléments de liste */
nav li {
    margin-right: 10px;
}

/* Style pour les liens */
nav a {
    text-decoration: none;
    color: #fff;
    background-color: #A306B6;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Style pour les liens au survol */
nav a:hover {
    background-color: #fff;
    color: #ab01b0;
}
