* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-radius: 15px;
}

header {
    background-color: #ab01af;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #ab01af;
    padding: 10px;
    color: white;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
